<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script defer src="../backend/listIssues.js"></script>
  <meta name="author" content="gr1_eq7"/>
  <title><%=project.name + " | issues"%></title>
</head>
<body>
  <div class="row">
    <div class="col-12">
      <a href="/overview-project?projectId=<% project.id%>" class="nav-link active"><h1><%= project.name %></h1></a>
      <%= project.description %>
    </div>
  </div>
  
  <div class="row">
    <% include ./projectSidebar %>
    <div class="col-9">
      <a type="button" href="/newIssue?projectId=<%= project.id%>" class="btn btn-success btn-lg">Nouvelle Issue</a>
      
      <h1>Liste des issues</h1>
      <ul class="list-unstyled">
        <% listIssues.forEach(issue => { %>
          <li><%= issue.name %>
            <form action="/removeIssue?projectId=<% project.id%>" method="post">
              <input type="text" name="issueId" class="form-control" id="name" value="<%= issue.id %>" hidden>
              <button type="submit" class="btn btn-primary">Supprimer</button>
            </form>
          </li>
          <% }); %>
        </ul>
      </div>
    </div>
  </body>
  </html>