<div class="col-3">
  <nav class="nav flex-column">
    <a class="nav-link" href="/listIssues?projectId=<%= project.id %>">Issues</a>
    <a class="nav-link" href="/listTasks?projectId=<%= project.id %>">Tasks</a>
    <a class="nav-link" href="/listSprints?projectId=<%= project.id %>">Sprints</a>
    <a class="nav-link" href="/listReleases?projectId=<%= project.id %>">Releases</a>
    <a class="nav-link" href="/listDoc?projectId=<%= project.id %>">Doc</a>
    <a class="nav-link" href="/listTests?projectId=<%= project.id %>">Tests</a>
  </nav>
</div>